.img-fluid {
    position: relative;
   
  /* background-color: aquamarine; */
       
      
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 187, 187, 0.5);
    color: white;
    padding: 1rem;
    text-align: center;
   
  }
  .av {
    text-align: center;
    background-color: rgb(1, 146, 78);
    color: white;
    padding: 10px;
}
.nav {
  text-align: center;
  background-color: rgb(255, 0, 0);
  color: white;
  padding: 10px;
}